# Python bytecode files
__pycache__
*.pyc
*.pyo
*.pyd

# Virtual environment directories
venv/

# Docker files
.dockerignore
compose.d/
!compose.d/entrypoint*.sh

# Git files
.git*

# Ignore logs
*.log

# IDE-specific files
.vscode/
.idea/
*.swp

# Testing files
tests/
test_*.py

# Other unnecessary files
*.md
*.zip
*.tar.gz
*.tgz
*.bak
*.tmp
*.DS_Store
