# Ignore Python bytecode files
__pycache__
*.pyc
*.pyo
*.pyd

# Ignore virtual environment directories
venv/

# Ignore Docker files
compose.d/

# Ignore logs
*.log

# Ignore IDE-specific files
.vscode/
.idea/
*.swp

# Ignore testing files
tests/
test_*.py

# Ignore other unnecessary files
*.md
*.zip
*.tar.gz
*.tgz
*.bak
*.tmp
*.DS_Store
