fastapi
sqlalchemy
databases
pydantic
pydantic[email]
uvicorn
mysqlclient
# mariadb  # Should replace `mysqlclient` at the end of the day
alembic
python-dotenv
pymysql
python-jose
bcrypt
python-multipart
google-cloud-storage
